/* select the element with id="body" */
#body {
  background-color: #00b3e6;
}

/* select all div elements in the document id="div" */
#div {
	width: 700px;
	margin: auto;
	font-family: "Helvetica Neue";
	background: white;
	padding: 30px;
}

/* select the element with id="main-header" */
#main-header {
  font-size: 22px;
  color:red;
}

/* select all elements that have the 'perspective-questions' classnam (e.g. <p class='.perspective-questions'> and <p class='.perspective-questions'> */
.perspective-questions {
  	font-style: italic;
}
